*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a3a3a;
    width: 100%;
    padding: 50px 20px;
}

.footer_top_left{
    display: flex;
    align-items: center;
    gap: 100px;
    flex: 0.6;
    background-color: transparent;
    margin-right: 0px;
}

.footer_top_left span{
    background-color: transparent;
    color: white;
    font-size: 50px;
    font-weight: 100;
}

.footer_top_left svg{
    background-color: transparent;
    color: white;
}

.icon_wrapper{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    color: hsl(0, 0%, 0%);
    outline: auto;
}

.footer_top_right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0.6;
    background-color: #3a3a3a;
}

.footer_form{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #6e6e6e;
    padding: 0px;
    border-radius: 5px;
    width: auto;
    max-width: 600px;
}

.footer_form_input {
    padding: 8px;
    border: none;
    background-color: #6e6e6e;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    color: white;
}

.footer_form_input::placeholder {
    color: white;
    opacity: 1;
    font-size: 20px;
}

.footer_input_submit {
    height: 100%;
    padding: 15px 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}