.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px;
background-color: black;
color: white;
}

.navbar_left,
.navbar_middle,
.navbar_right {
display: flex;
align-items: center;
}

.navbar_middle {
gap: 70px;
}

.navbar_right {
gap: 40px;
}

@media (max-width: 768px) {
.navbar {
flex-direction: column;
align-items: flex-start;
gap: 20px;
padding: 20px;
}

.navbar_middle {
flex-direction: column;
gap: 20px;
width: 100%;
}

.navbar_right {
flex-direction: row;
justify-content: space-between;
width: 100%;
}
}

@media (max-width: 500px) {
.navbar,
.navbar_middle,
.navbar_right {
font-size: 18px;
}
}
